apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: bran
  name: bran-deployment
  labels:
    app: bran
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bran
  template:
    metadata:
      labels:
        app: bran
    spec:
      containers:
      - name: bran-container
        image: niket50/bran:20
        ports:
        - containerPort: 8000
        envFrom:
        - secretRef:
            name: bran-secret
